#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
  /* background-color: black; */
  color: white;
  
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );


}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}


.hero-bg {
  background-image: url('./assets/Sprinkle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* send mail button */

.btn-grad {
  background-image: linear-gradient(to right, #e3e647 0%, #54c4e9 51%, #9ce954 100%)
}

.btn-grad {
  margin-top: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  font-weight: bold;
  box-shadow: 0 3 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}